<%- include('./partials/header') %>

<div class="container">
    <h1 class="mb-4">Edit Post</h1>

    <form action="/posts/<%= post.id %>?_method=PUT" method="POST">
        
    </form>

</div>

<%- include('./partials/footer') %>