<%- include('./partials/header') %>

<div class="container">
    <h1 class="mb-4">New Post</h1>

    <form action="/posts" method="POST">
        
    </form>
</div>

<%- include('./partials/footer') %>